# See how to get your API key at: https://hoop.dev/docs/learn/api-key-usage
hoop_api_key = "Bearer your-token-here"
api_url      = "http://localhost:8009/api"
agent_id     = "your-agent-id"

# Database hosts configuration
database_hosts = {
  postgres = {
    host = "postgres.test.internal"
    port = "5432"
  }
  mysql = {
    host = "mysql.test.internal"
    port = "3306"
  }
  mysql_replica = {
    host = "mysql_replica.test.internal"
    port = "3306"
  }
  mongodb = {
    connection_string = "cluster0.mongodb.test.internal"
  }
  mongodb_replica = {
    connection_string = "cluster0.mongodb_replica.test.internal"
  }
  mssql = {
    host = "mssql.test.internal"
    port = "1433"
  }
  oracle = {
    host = "oracle.test.internal"
    port = "1521"
    sid = "oracle"
  }
}

database_credentials = {
  basic = {
    user     = "basic-user"
    password = "basic-mock-secure-pass-123"
  }
  replica = {
    user     = "replica_user"
    password = "replica-mock-secure-pass-456"
  }
  oracle = {
    user     = "oracle-user"
    password = "oracle-mock-secure-pass-123"
  }
  oracle_enterprise = {
    user     = "oracle_enterprise-user"
    password = "oracle_enterprise-mock-secure-pass-123"
  }
}
