# See how to get your API key at: https://hoop.dev/docs/learn/api-key-usage
hoop_api_key = "Bearer your-token-here"
api_url      = "http://localhost:8009/api"
agent_id     = "your-agent-id"

# Database hosts configuration
database_hosts = {
  postgres = {
    host = "postgres.test.internal"
    port = "5432"
  }
  mysql = {
    host = "mysql.test.internal"
    port = "3306"
  }
  mongodb = {
    host = "cluster0.mongodb.test.internal"
  }
  mssql = {
    host = "mssql.test.internal"
    port = "1433"
  }
  oracle = {
    host = "oracle.test.internal"
    port = "1521"
  }
}

db_credentials = {
  initial = {
    user     = "initial-user"
    pass = "mock-secure-pass-123"
  }
  update = {
    user     = "update_user"
    pass = "new-mock-secure-pass-456"
  }
}
